// COLORS:
$primary-main: #55c57a;
$primary-main-light: #7ed56f;
$primary-main-dark: #28b485;

$secondary-main: "";
$secondary-main-light: #ffb900;
$secondary-main-dark: #ff7730;

$tertiary-main: "";
$tertiary-main-light: #2998ff;
$tertiary-main-dark: #5643fa;

$white: white;
$black: #000;
$primary-gray-dark: #777;
$primary-gray-dark-1: #111;
$primary-gray-dark-3: #333;
$primary-gray-light-1: #f7f7f7;
$primary-gray-light-2: #eee;
$primary-gray-light-3: #999;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
