.form {
  width: 50%;

  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__radio__group {
    width: 49%;
    display: inline-block;
  }

  &__radio__input {
    display: none;
  }

  &__radio__label {
    position: relative;
    cursor: pointer;
    padding-left: 4.5rem;
  }

  &__input {
    padding: 1rem 2rem;
    border: none;
    display: block;
    width: 90%;
    border-bottom: 3px solid transparent;
    color: inherit;
    transition: all 0.3s ease-in-out;

    &:focus {
      outline: none;
      border-bottom: 3px solid $primary-main;
      box-shadow: 0 1rem 2rem rgba($black, 0.15);
    }

    &:focus:invalid {
      border-bottom: 3px solid $secondary-main-dark;
    }

    &::-webkit-input-placeholder {
      color: $primary-gray-light-3;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    display: block;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease-in-out;
  }

  &__input:placeholder-shown + &__label {
    transform: translateY(-3rem);
    opacity: 0;
    visibility: hidden;
  }

  &__radio__input:checked + &__radio__label span::after {
    opacity: 1;
  }
}
