body {
  font-family: "Lato", sans-serif;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $primary-gray-dark;
  font-weight: 400;
}

.heading-primary {
  color: $white;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 3.2rem;

  &--main {
    display: block;
    font-size: 6rem;
    letter-spacing: 1.8rem;
    animation: moveInLeft 3s;

    @include respond(phone) {
      font-size: 5.5rem;
      letter-spacing: 1.2rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.2rem;
    animation: moveInRight 3s;

    @include respond(phone) {
      font-size: 1.8rem;
      letter-spacing: 0.8rem;
    }
  }
}

.heading-secondary {
  font-size: 3.2rem;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 3rem;
  }

  -ms-background-clip: text;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(
    to right,
    $primary-main-light,
    $primary-main-dark
  );
  color: transparent;

  &:hover {
    transform: skew(10deg, 3deg);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  text-transform: uppercase;

  @include respond(phone) {
    font-size: 1.4rem;
  }
}

.paragraph-1 {
  font-size: $default-font-size;
  line-height: 1.75;

  @include respond(phone) {
    font-size: 1.4rem;
  }
}
