.tnc {
  column-count: 2;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.text-center {
  text-align: center;
}

.mb-small {
  margin-bottom: 2rem;
}

.mb-medium {
  margin-bottom: 4rem;
}

.mb-large {
  margin-bottom: 8rem;
}
