.section-about {
  background-color: $primary-gray-light-1;
  padding: 25rem 0;
  margin-top: -19vh;
}

.composition {
  position: relative;
  width: 100%;
  min-height: 30rem;

  &__img {
    max-width: 20rem;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    outline-offset: 1.6rem;
    transition: all 0.2s;

    &:hover {
      outline: 8px solid $primary-main;
      z-index: 999;
      transform: scale(1.05) translateY(-1px);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
    }

    &--1 {
      top: 0;
      left: 0;
    }

    &--2 {
      top: 2rem;
      right: 18rem;
    }

    &--3 {
      left: 6rem;
      top: 9rem;
    }
  }

  &:hover &__img:not(:hover) {
    transform: scale(0.95);
  }
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right bottom,
      rgba($primary-main-light, 0.8),
      rgba($primary-main-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
  margin-top: -15rem;

  @include respond(tab-port) {
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
  }
}

.section-stories {
  padding: 20rem 0;
  position: relative;
}

.section-booking {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
    $primary-main-light,
    $primary-main-dark
  );
  position: relative;
  height: 100vh;
}
